# Local env
.DS_Store
.env
.netrc
.cache
rendered-manifest.yaml
merged.env
tmp

# Compilation output
cmd/grpc/px_subscription_grpc
cmd/http/px_subscription_http
cmd/worker/px_subscription_worker

# GoLand project metadata
.idea

.vscode/
*.swp
*.swo
tags

# Ignore coverage reports
coverage.*

# Ignore test reports
report.json

internal/api/swagger

main

test-results
summary.json

#Ignore playwright artifacts
node_modules
